defaults
  mode http
  option forwardfor
  timeout connect 10s
  timeout client  1m
  timeout server  1m

frontend http
  bind *:80

  use_backend be_server if { path_beg /api }
  default_backend be_web

backend be_server
    http-request set-uri %[url,regsub(^/api/,/,)]
    http-request set-header X-Forwarded-Host %[req.hdr(Host)]
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    server immich-server 127.0.0.1:3001 maxconn 64 check

backend be_web
    http-request set-header X-Forwarded-Host %[req.hdr(Host)]
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    server immich-web 127.0.0.1:3000 maxconn 64 check

listen stats
  bind *:8080
  stats enable
  stats hide-version
  stats uri /
