/*.snap
/src/etc/5xx.html
__pycache__
*.bkp
*.dtmp
/docs_old
/docs/.env
/docs/site/build-out
/docs/site/static/js/mermaid.min.js
/docs/site/snapstore-data.json
/docs/site/snapstore-metrics.json
/docs/site/snapstore-metrics-chart.json
/tests/secret.txt
/tests/latest_logs
/tests/report/
/tests/assets/live.js
/tests/assets/pytest_style.css
/tests/dashboard.html
/tests/test-assets
/tests/screenshots
/tests/last_report.html
/tests/.env/
/prime
/.vscode
/upstream
.env
