:root {
    --md-primary-fg-color:        #d40000;
    --md-primary-fg-color--light: #f3b8b8;
    --md-primary-fg-color--dark:  #740209;
}

.md-tabs {
    font-weight: bold;
}

.img-scale {
    width: clamp(5rem, 25vw, 12rem);
}

.md-header__title {
    margin-left: 0 !important;
}

.snapstore-versions {
    width: 100%;
}

.snapstore-versions th {
    border-bottom: 1px solid #444;
    text-align: left;
}

.snapstore-versions td {
    padding-top: 0.4em;
}

.center-image {
    display: block;
    margin: auto;
}

.info-box {
    max-width: 36em;
    margin: 1.8em auto;
    border: 3px solid var(--md-primary-fg-color);
    text-align: center;
    padding: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    background-color: #fafafa;
}
